* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #011627; */
}
div {
  background: #011627;
}
.logo {
  color: #2ec4b6;
}
.nav {
  color: #3fa80a;
  padding: 5px;
  text-align: right;
  background-color: #011627;
}
a {
  text-decoration: none;
  color: #e71d36;
}

.background-index {
  background: url("/images/background-image.jpeg");
}
